html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

div {
  border: 1px solid red;
}

.home-link {
  float: left;
  text-decoration: none;
  background-color: coral;
  border: coral;
  color: black;
  text-align: center;
  display: block;
  width: 100px;
  padding: 10px;
  transition-duration: 0.3s;
}

.home-link:hover {
  background-color: #fff;
}

.recipe {
  width: 500px;
  margin: 0 auto;
  border: 5px solid coral;
}

.img-wrap {
  text-align: center;
}

.recipe-img {
  width: 100%;
}

.recipe-content {
  padding: 0 2em 1.5em 1em;
  text-align: justify;
}