html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  outline: 1px solid red;
}

ul {
    list-style: none;
}

ul .recipe {
    display: inline;
}

div.title {
    text-align: center;
    font-size: 36px;
}

.recipe-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
